*

!.dockerignore
!.editorconfig
!.github/
!.github/workflows/
!.github/workflows/container-tests.yml
!.gitignore
!Makefile
!README.md
!containers/
!containers/test/
!containers/test/Containerfile
!fixtures/
!fixtures/**
!lib/
!lib/**
!notes/
!notes/001_containerized_test_strategy.txt
!scripts/
!scripts/**
!tests/
!tests/**
